<%- include('partials/header') -%>


<aside class="profile-header">
    <nav>
        <ul>
            <li>nav button</li>
            <li>nav button</li>
            <li>nav button</li>
        </ul>
    </nav>
</aside>
<section class="main-section">
    <header class="site-header">
        <h1><i class="fa-thin fa-hand-holding-hand"></i>NoteMe</h1>
     </header>

     <main class="main-area">

        <section class="group-cards-section">
              
        <a href="/group/createGroup" class="add-group">
            <i class="fa fa-thin fa-plus"></i>    
        </a>


        </section>

     
    </main>

</section>


    

<%- include('partials/footer') -%>